@model List<UserFile>
@{
    ViewData["Title"] = "Files";
}

<h1>Files</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
            <th>Download</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.CreatedDate</td>
            <td>@item.Status</td>
            <td>
                @if (item.Status == FileStatus.Creating)
                {
                    @:-
                }
                else
                {
                    <a href="~/files/@item.Path" class="btn btn-primary">Download</a>
                }
            </td>
        </tr>
    }
</table>

@section Scripts{
<script>
    $(document).ready(function () {
        var hasStartCreatingExcel = '@TempData["CreationStarted"]';
        if (hasStartCreatingExcel) {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Excel oluşturma işlemi başladı.',
                showConfirmButton: false,
                timer: 1500,
            });
        }
    });
</script>
}